# Project 1 Part 4 - Creating a master parcel database

In this part of the project, we will use Python to read, process, and double all of the parcel data into a database.  Note that this is not our only alternative, and in Project 1 Part 4 b, we will look at another alternative, that is reading all the of original, raw files into their own database table, then using SQL to join/link/aggregate the tables.

## Chunking Files in Pandas – Part 1 (20 Points)

In this part of the project, you will use `Panda`’s to process the data from the MinneMUDAC 2016 competition Dive into Water Data.  The data can be found at the [MinneMUDAC site](http://minneanalytics.org/minnemudac/data/).  You should document your work in a Jupyter notebook, which will be used to submit your solution.  **For the rest of the parts of this project, we will limit ourselves to the years 2004-2014.**

1. Remind me why we want to skip 2003.

> 2003 has fewer columns than the other files, so exluding 2003 allows us to keep more data.

2. Import the common columns list and translation dictionaries from the `.py` file you created in the last part of the project.

In [1]:
from project_data_Miertschin import common_columns, ll_dist_dict, ll_code_dict, code_name_dict, ll_idnamedist_dict

In [2]:
import pandas as pd
from dfply import *
from glob import glob
import re
from toolz import first
from more_dfply import recode

3. Use glob and a list comprehension to get a list of file names for the years 2004-2014.

In [3]:
files = glob('../MinneMUDAC_raw_files/20**_metro_tax_parcels.txt')[2:-1]
files

['../MinneMUDAC_raw_files/2004_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2005_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2006_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2007_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2008_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2009_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2010_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2011_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2012_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2013_metro_tax_parcels.txt',
 '../MinneMUDAC_raw_files/2014_metro_tax_parcels.txt']

In [4]:
FILE_NAME_RE = re.compile(r'^\.\./MinneMUDAC_raw_files/(20\d\d_metro_tax_parcels)\.txt$')
file_name = lambda p: FILE_NAME_RE.match(p).group(1) 
file_names = lambda files: [file_name(p) for p in files]
years= file_names(files)
years

['2004_metro_tax_parcels',
 '2005_metro_tax_parcels',
 '2006_metro_tax_parcels',
 '2007_metro_tax_parcels',
 '2008_metro_tax_parcels',
 '2009_metro_tax_parcels',
 '2010_metro_tax_parcels',
 '2011_metro_tax_parcels',
 '2012_metro_tax_parcels',
 '2013_metro_tax_parcels',
 '2014_metro_tax_parcels']

4. Use the first chunk of the first file to prototype an expression that <br>
    a. Selects the common columns <br>
    b. Fixes any issues with the column names <br>
    c. Changes columns to the correct types (if necessary).  More information about the columns can be found [here](ftp://ftp.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_metrogis/plan_regonal_prcls_open/metadata/metadata.html). It is **imperative** that you keep the lat and long columns as strings. <br>
    d. Use the translation dictionaries from the last part to add three new columns to the chunk: lake code, lake name, parcel distance to the lake.
    
    e. Filters to only properties that are within 1600 m (~1 mile) of the closest lake.

In [76]:
parcel_files = [pd.read_csv(file,chunksize=500,sep='|',dtype = {'centroid_lat': str,'centroid_long': str, 'PIN': str, 'Year':str}) for file in files]

In [77]:
first_chunks = [first(df) for df in parcel_files]

In [78]:
first_chunk = first_chunks[0]
first_chunk2 = first_chunk.head()
first_chunk2

,ACRES_DEED,ACRES_POLY,AGPRE_ENRD,AGPRE_EXPD,AG_PRESERV,BASEMENT,BLDG_NUM,BLOCK,CITY,CITY_USPS,...,XUSE1_DESC,XUSE2_DESC,XUSE3_DESC,XUSE4_DESC,YEAR_BUILT,Year,ZIP,ZIP4,centroid_lat,centroid_long
0,0.0,8.03,NaN,NaN,N,NaN,NaN,NaN,SAINT FRANCIS,NaN,...,NaN,NaN,NaN,NaN,1980.0,2004,NaN,NaN,45.41332,-93.26739
1,0.0,0.93,NaN,NaN,N,NaN,24457.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1974.0,2004,55005.0,NaN,45.41354,-93.2701
2,0.0,8.75,NaN,NaN,N,NaN,24442.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1969.0,2004,55005.0,NaN,45.41318,-93.27344
3,0.0,11.17,NaN,NaN,N,NaN,410.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1989.0,2004,55005.0,NaN,45.41167,-93.27684
4,0.0,14.46,NaN,NaN,N,NaN,480.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1995.0,2004,55070.0,NaN,45.41169,-93.27849

In [20]:
new_chunk = (first_chunk2 
             >> select(common_columns)
             >> mutate(
                 lat_long = pd.Series(zip(first_chunk2.centroid_lat,first_chunk2.centroid_long)))
             >> mutate(
                 lake_code = recode(X.lat_long,ll_code_dict),
                 distance_to_lake = recode(X.lat_long,ll_dist_dict))
             >> mutate(
                 lake_name = recode(X.lake_code,code_name_dict))
             >> filter_by(X.distance_to_lake <= 1600)
            )

In [21]:
new_chunk

,GARAGE,XUSE1_DESC,GREEN_ACRE,Year,COUNTY_ID,OWNER_MORE,OWN_ADD_L1,OWN_ADD_L2,SUFFIX_DIR,USE1_DESC,...,FIN_SQ_FT,OPEN_SPACE,STREETNAME,EMV_TOTAL,USE3_DESC,XUSE4_DESC,lat_long,lake_code,distance_to_lake,lake_name
0,NaN,NaN,N,2004,3,NaN,24457 DOGWOOD ST NW,BETHEL,NaN,NaN,...,0.0,N,NaN,23964.0,NaN,NaN,"(45.41332, -93.26739)",02007501-01,942.795032,Moore Lake
1,NaN,NaN,N,2004,3,NaN,24457 DOGWOOD ST NW,BETHEL,NW,NaN,...,0.0,N,DOGWOOD,171837.0,NaN,NaN,"(45.41354, -93.2701)",27008902-01,348.834975,Shady Oak Lake
2,NaN,NaN,N,2004,3,NaN,24442 DOGWOOD ST NW,ST FRANCIS,NW,NaN,...,0.0,N,DOGWOOD,195751.0,NaN,NaN,"(45.41318, -93.27344)",10001300-01,1055.720786,Susan Lake
4,NaN,NaN,N,2004,3,NaN,480 245TH AVE NW,EAST BETHEL,NW,NaN,...,0.0,N,245TH,204359.0,NaN,NaN,"(45.41169, -93.27849)",27011601-01,413.594909,Rice Elm Lake

In [60]:
new_chunk.Year

0    2004
1    2004
2    2004
4    2004
Name: Year, dtype: int64

5. Now convert your expression from the last problem to a function and test that this function works on the first few chunks of each file.

In [22]:
def add_lake_columns(df):
    new_df = (df 
                 >> select(common_columns)
                 >> mutate(
                     lat_long = pd.Series(zip(df.centroid_lat,df.centroid_long)))
                 >> mutate(
                     lake_code = recode(X.lat_long,ll_code_dict),
                     distance_to_lake = recode(X.lat_long,ll_dist_dict))
                 >> mutate(
                     lake_name = recode(X.lake_code,code_name_dict))
                 >> filter_by(X.distance_to_lake <= 1600)
             )
    return new_df

In [24]:
new_first_chunks = [add_lake_columns(chunk) for chunk in first_chunks]

In [25]:
[chunk.head() for chunk in new_first_chunks]

[   GARAGE  XUSE1_DESC GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0     NaN         NaN          N  2004          3         NaN
 1     NaN         NaN          N  2004          3         NaN
 2     NaN         NaN          N  2004          3         NaN
 4     NaN         NaN          N  2004          3         NaN
 5     NaN         NaN          N  2004          3         NaN

             OWN_ADD_L1   OWN_ADD_L2 SUFFIX_DIR  USE1_DESC  ... FIN_SQ_FT  \
 0  24457 DOGWOOD ST NW       BETHEL        NaN        NaN  ...       0.0
 1  24457 DOGWOOD ST NW       BETHEL         NW        NaN  ...       0.0
 2  24442 DOGWOOD ST NW   ST FRANCIS         NW        NaN  ...       0.0
 4     480 245TH AVE NW  EAST BETHEL         NW        NaN  ...       0.0
 5     500 LAFAYETTE RD      ST PAUL        NaN        NaN  ...       0.0

    OPEN_SPACE STREETNAME  EMV_TOTAL  USE3_DESC XUSE4_DESC  \
 0           N        NaN    23964.0        NaN        NaN
 1           N    DOGWOOD   171837.0        NaN        NaN
 2           N    DOGWOOD   195751.0        NaN        NaN
 4           N      245TH   204359.0        NaN        NaN
 5           N        NaN   210000.0        NaN        NaN

                 lat_long    lake_code distance_to_lake       lake_name
 0  (45.41332, -93.26739)  02007501-01       942.795032      Moore Lake
 1   (45.41354, -93.2701)  27008902-01       348.834975  Shady Oak Lake
 2  (45.41318, -93.27344)  10001300-01      1055.720786      Susan Lake
 4  (45.41169, -93.27849)  27011601-01       413.594909   Rice Elm Lake
 5  (45.40981, -93.29885)  19007900-01       517.907722             NaN

 [5 rows x 74 columns],
    GARAGE  XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0     NaN         NaN         NaN  2005          3         NaN
 1     NaN         NaN         NaN  2005          3         NaN
 2     NaN         NaN         NaN  2005          3         NaN
 4     NaN         NaN         NaN  2005          3         NaN
 5     NaN         NaN         NaN  2005          3         NaN

             OWN_ADD_L1   OWN_ADD_L2 SUFFIX_DIR  USE1_DESC  ... FIN_SQ_FT  \
 0  24457 DOGWOOD ST NW       BETHEL        NaN     3410.0  ...    2560.0
 1  24457 DOGWOOD ST NW       BETHEL         NW     2110.0  ...    1040.0
 2  24442 DOGWOOD ST NW  ST. FRANCIS         NW     2110.0  ...     960.0
 4     480 245TH AVE NW  EAST BETHEL         NW     2110.0  ...    1044.0
 5     500 LAFAYETTE RD      ST PAUL        NaN     4024.0  ...       0.0

    OPEN_SPACE STREETNAME  EMV_TOTAL USE3_DESC  XUSE4_DESC  \
 0         NaN        NaN    24400.0       NaN         NaN
 1         NaN    DOGWOOD   186400.0       NaN         NaN
 2         NaN    DOGWOOD   201200.0       NaN         NaN
 4         NaN      245TH   234700.0       NaN         NaN
 5         NaN        NaN   160000.0       NaN         NaN

                 lat_long    lake_code distance_to_lake       lake_name
 0  (45.41332, -93.26739)  02007501-01       942.795032      Moore Lake
 1   (45.41354, -93.2701)  27008902-01       348.834975  Shady Oak Lake
 2  (45.41318, -93.27344)  10001300-01      1055.720786      Susan Lake
 4  (45.41169, -93.27849)  27011601-01       413.594909   Rice Elm Lake
 5  (45.40981, -93.29885)  19007900-01       517.907722             NaN

 [5 rows x 74 columns],
    GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0     NaN        NaN         NaN  2006          3         NaN
 1     NaN        NaN         NaN  2006          3         NaN
 3     NaN        NaN         NaN  2006          3         NaN
 4     NaN        NaN         NaN  2006          3         NaN
 6     NaN        NaN         NaN  2006          3         NaN

           OWN_ADD_L1 OWN_ADD_L2 SUFFIX_DIR                  USE1_DESC  ...  \
 0  14195 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 1  14189 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 3  14165 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 4  14159 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 6  14168 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...

   FIN_SQ_FT  OPEN_SPACE STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 0    1794.0         NaN      ALDER   357700.0       NaN        NaN
 1    1692.0         NaN      ALDER   358600.0       NaN        NaN
 3    1794.0         NaN      ALDER   331300.0       NaN        NaN
 4    1794.0         NaN      ALDER   344600.0       NaN        NaN
 6    1794.0         NaN      ALDER   335500.0       NaN        NaN

                 lat_long    lake_code distance_to_lake       lake_name
 0  (45.22905, -93.26607)  27001600-01       635.278886    Harriet Lake
 1  (45.22892, -93.26591)  27013305-01      1497.766621             NaN
 3  (45.22829, -93.26547)  27062700-01       672.743019  Northwood Lake
 4  (45.22811, -93.26548)  27068100-01      1216.735960      Grass Lake
 6  (45.22827, -93.26625)  27066100-01      1068.968364  South Oak Lake

 [5 rows x 74 columns],
    GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0     NaN        NaN         NaN  2007          3         NaN
 1     NaN        NaN         NaN  2007          3         NaN
 3     NaN        NaN         NaN  2007          3         NaN
 4     NaN        NaN         NaN  2007          3         NaN
 6     NaN        NaN         NaN  2007          3         NaN

           OWN_ADD_L1 OWN_ADD_L2 SUFFIX_DIR                  USE1_DESC  ...  \
 0  14195 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 1  14189 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 3  14165 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 4  14159 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...
 6  14168 ALDER ST NW    ANDOVER         NW  RESIDENTIAL SINGLE FAMILY  ...

   FIN_SQ_FT  OPEN_SPACE STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 0    1794.0         NaN      ALDER   366400.0       NaN        NaN
 1    1692.0         NaN      ALDER   364800.0       NaN        NaN
 3    1794.0         NaN      ALDER   337300.0       NaN        NaN
 4    1794.0         NaN      ALDER   353400.0       NaN        NaN
 6    1794.0         NaN      ALDER   343400.0       NaN        NaN

                 lat_long    lake_code distance_to_lake       lake_name
 0  (45.22905, -93.26607)  27001600-01       635.278886    Harriet Lake
 1  (45.22892, -93.26591)  27013305-01      1497.766621             NaN
 3  (45.22829, -93.26547)  27062700-01       672.743019  Northwood Lake
 4  (45.22811, -93.26548)  27068100-01      1216.735960      Grass Lake
 6  (45.22827, -93.26625)  27066100-01      1068.968364  South Oak Lake

 [5 rows x 74 columns],
    GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 2     NaN        NaN         NaN  2008          3         NaN
 3     NaN        NaN         NaN  2008          3         NaN
 4     NaN        NaN         NaN  2008          3         NaN
 6     NaN        NaN         NaN  2008          3         NaN
 7     NaN        NaN         NaN  2008          3         NaN

                 OWN_ADD_L1   OWN_ADD_L2 SUFFIX_DIR                  USE1_DESC  \
 2  5993 AMBASSADOR BLVD NW   ST FRANCIS         NW  RESIDENTIAL SINGLE FAMILY
 3  5853 AMBASSADOR BLVD NW   ST FRANCIS         NW  RESIDENTIAL SINGLE FAMILY
 4  5651 AMBASSADOR BLVD NE   ST FRANCIS         NW  RESIDENTIAL SINGLE FAMILY
 6         22818 XEON ST NW    ELK RIVER        NaN  RESIDENTIAL SINGLE FAMILY
 7  5900 AMBASSADOR BLVD NW  ST. FRANCIS         NW  RESIDENTIAL SINGLE FAMILY

    ... FIN_SQ_FT OPEN_SPACE  STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 2  ...    1704.0        NaN  AMBASSADOR   299800.0       NaN        NaN
 3  ...    1954.0        NaN  AMBASSADOR   243000.0       NaN        NaN
 4  ...    1030.0        NaN  AMBASSADOR   286300.0       NaN        NaN
 6  ...       0.0        NaN         NaN     5600.0       NaN        NaN
 7  ...    1984.0        NaN  AMBASSADOR   293000.0       NaN        NaN

                 lat_long    lake_code distance_to_lake        lake_name
 2  (45.40447, -93.41845)  27104501-01      1515.191976  Normandale Lake
 3  (45.40339, -93.41675)  19002200-01      1558.566807        Long Lake
 4  (45.40122, -93.41084)  10011000-01       596.952449       Brand Lake
 6   (45.4028, -93.41497)  27011101-01       470.903039              NaN
 7   (45.40234, -93.4167)  02005300-01       866.864431         Ham Lake

 [5 rows x 74 columns],
   GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0      Y        NaN         NaN  2009          3         NaN
 1      Y        NaN         NaN  2009          3         NaN
 3      N        NaN         NaN  2009          3         NaN
 4      N        NaN         NaN  2009          3         NaN
 5      Y        NaN         NaN  2009          3         NaN

                 OWN_ADD_L1  OWN_ADD_L2 SUFFIX_DIR  \
 0  23946 QUICKSILVER ST NW  ST FRANCIS         NW
 1  5993 AMBASSADOR BLVD NW  ST FRANCIS         NW
 3           23300 NACRE NW   ELK RIVER        NaN
 4        23725 NACRE ST NW   ELK RIVER        NaN
 5     5288 FOREST RIDGE RD    GARRISON         NW

                                            USE1_DESC  ... FIN_SQ_FT  \
 0                          RESIDENTIAL SINGLE FAMILY  ...    1800.0
 1                          RESIDENTIAL SINGLE FAMILY  ...    1704.0
 3                                       AGRICULTURAL  ...       0.0
 4                                       AGRICULTURAL  ...       0.0
 5  COMMERCIAL / GOLF COURSE, RESIDENTIAL SINGLE F...  ...    3024.0

   OPEN_SPACE   STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 0        NaN  QUICKSILVER   411900.0       NaN        NaN
 1        NaN   AMBASSADOR   270600.0       NaN        NaN
 3        NaN          NaN    60700.0       NaN        NaN
 4        NaN          NaN   218600.0       NaN        NaN
 5        NaN        NACRE   242200.0       NaN        NaN

                 lat_long    lake_code distance_to_lake        lake_name
 0  (45.40663, -93.42362)  27011800-04      1454.103274              NaN
 1  (45.40447, -93.41845)  27104501-01      1515.191976  Normandale Lake
 3  (45.39278, -93.45144)  19005700-01      1577.419501        Fish Lake
 4  (45.39768, -93.46219)  27006700-02      1304.461744              NaN
 5  (45.39852, -93.45134)  27065600-01       856.999937              NaN

 [5 rows x 74 columns],
   GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0      N        NaN         NaN  2010          3         NaN
 1      Y        NaN         NaN  2010          3         NaN
 3      Y        NaN         NaN  2010          3         NaN
 6      Y        NaN         NaN  2010          3         NaN
 7      Y        NaN         NaN  2010          3         NaN

              OWN_ADD_L1     OWN_ADD_L2 SUFFIX_DIR  \
 0     23725 NACRE ST NW      ELK RIVER        NaN
 1  5288 FOREST RIDGE RD       GARRISON         NW
 3    23309 VARIOLITE ST      ELK RIVER         NW
 6      5763 244TH CT NW    ST. FRANCIS         NW
 7      5729 244TH CT NW  SAINT FRANCIS         NW

                                            USE1_DESC  ... FIN_SQ_FT  \
 0                                       AGRICULTURAL  ...       0.0
 1  COMMERCIAL / GOLF COURSE, RESIDENTIAL SINGLE F...  ...    3024.0
 3                          RESIDENTIAL SINGLE FAMILY  ...    1577.0
 6                          RESIDENTIAL SINGLE FAMILY  ...    1654.0
 7                          RESIDENTIAL SINGLE FAMILY  ...    1250.0

    OPEN_SPACE STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 0         NaN        NaN   179400.0       NaN        NaN
 1         NaN      NACRE   209400.0       NaN        NaN
 3         NaN  VARIOLITE   310000.0       NaN        NaN
 6         NaN      244TH   192900.0       NaN        NaN
 7         NaN      244TH   189800.0       NaN        NaN

                 lat_long    lake_code distance_to_lake     lake_name
 0  (45.39768, -93.46219)  27006700-02      1304.461744           NaN
 1  (45.39852, -93.45134)  27065600-01       856.999937           NaN
 3  (45.39283, -93.45771)  70009500-01       284.071312   O'Dowd Lake
 6  (45.41326, -93.41293)  10008400-01       501.973023  Burandt Lake
 7  (45.41328, -93.41204)  82009400-01       292.616727    Colby Lake

 [5 rows x 74 columns],
    GARAGE  XUSE1_DESC GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE OWN_ADD_L1  \
 2       N         NaN          N  2011         19         NaN        NaN
 4       Y         NaN          N  2011         19         NaN        NaN
 6       N         NaN          N  2011         19         NaN        NaN
 8       Y         NaN          N  2011         19         NaN        NaN
 12      Y         NaN          N  2011         19         NaN        NaN

    OWN_ADD_L2 SUFFIX_DIR     USE1_DESC  ... FIN_SQ_FT OPEN_SPACE STREETNAME  \
 2         NaN        NaN  Agricultural  ...       0.0        NaN        NaN
 4         NaN        NaN    Res 1 unit  ...    1544.0        NaN     OXFORD
 6         NaN        NaN    Res V Land  ...       0.0        NaN        NaN
 8         NaN        NaN    Res 1 unit  ...    2021.0        NaN       NEAL
 12        NaN        NaN    Res 1 unit  ...    3096.0        NaN     OXFORD

     EMV_TOTAL USE3_DESC XUSE4_DESC               lat_long    lake_code  \
 2    623900.0       NaN        NaN  (44.97589, -93.81444)  27011601-01
 4    300200.0       NaN        NaN  (44.97696, -93.81008)  02004500-01
 6      1600.0       NaN        NaN  (44.97779, -93.83845)  62000100-01
 8    388900.0       NaN        NaN  (44.97653, -93.79707)  27011900-01
 12   496700.0       NaN        NaN  (44.97513, -93.81044)  02008100-01

    distance_to_lake          lake_name
 2        564.600153      Rice Elm Lake
 4       1006.572273        Golden Lake
 6       1384.359110        Silver Lake
 8       1179.627224  Cedar Island Lake
 12      1101.985089          Hart Lake

 [5 rows x 74 columns],
   GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0      N        NaN         NaN  2012          3         NaN
 1      Y        NaN         NaN  2012          3         NaN
 3      Y        NaN         NaN  2012          3         NaN
 6      Y        NaN         NaN  2012          3         NaN
 7      Y        NaN         NaN  2012          3         NaN

              OWN_ADD_L1     OWN_ADD_L2 SUFFIX_DIR  \
 0     23725 NACRE ST NW      ELK RIVER        NaN
 1  5288 FOREST RIDGE RD       GARRISON         NW
 3    23309 VARIOLITE ST      ELK RIVER         NW
 6      5763 244TH CT NW    ST. FRANCIS         NW
 7      5729 244TH CT NW  SAINT FRANCIS         NW

                                            USE1_DESC  ... FIN_SQ_FT  \
 0                                       AGRICULTURAL  ...       0.0
 1  COMMERCIAL / GOLF COURSE, RESIDENTIAL SINGLE F...  ...    1512.0
 3                          RESIDENTIAL SINGLE FAMILY  ...    1577.0
 6                          RESIDENTIAL SINGLE FAMILY  ...    1654.0
 7                          RESIDENTIAL SINGLE FAMILY  ...    1250.0

    OPEN_SPACE STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 0         NaN        NaN   144400.0       NaN        NaN
 1         NaN      NACRE   195200.0       NaN        NaN
 3         NaN  VARIOLITE   282800.0       NaN        NaN
 6         NaN      244TH   166400.0       NaN        NaN
 7         NaN      244TH   153100.0       NaN        NaN

                 lat_long    lake_code distance_to_lake     lake_name
 0  (45.39768, -93.46219)  27006700-02      1304.461744           NaN
 1  (45.39852, -93.45134)  27065600-01       856.999937           NaN
 3  (45.39283, -93.45771)  70009500-01       284.071312   O'Dowd Lake
 6  (45.41326, -93.41293)  10008400-01       501.973023  Burandt Lake
 7  (45.41328, -93.41204)  82009400-01       292.616727    Colby Lake

 [5 rows x 74 columns],
   GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0      N        NaN         NaN  2013          3         NaN
 1      Y        NaN         NaN  2013          3         NaN
 3      Y        NaN         NaN  2013          3         NaN
 6      Y        NaN         NaN  2013          3         NaN
 7      Y        NaN         NaN  2013          3         NaN

              OWN_ADD_L1     OWN_ADD_L2 SUFFIX_DIR  \
 0     23725 NACRE ST NW      ELK RIVER        NaN
 1  5288 FOREST RIDGE RD       GARRISON         NW
 3    23309 VARIOLITE ST      ELK RIVER         NW
 6      5763 244TH CT NW    ST. FRANCIS         NW
 7      5729 244TH CT NW  SAINT FRANCIS         NW

                                            USE1_DESC  ... FIN_SQ_FT  \
 0                                       AGRICULTURAL  ...       0.0
 1  COMMERCIAL / GOLF COURSE, RESIDENTIAL SINGLE F...  ...    1512.0
 3                          RESIDENTIAL SINGLE FAMILY  ...    1577.0
 6                          RESIDENTIAL SINGLE FAMILY  ...    1654.0
 7                          RESIDENTIAL SINGLE FAMILY  ...    1250.0

    OPEN_SPACE STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 0         NaN        NaN   132100.0       NaN        NaN
 1         NaN      NACRE   185600.0       NaN        NaN
 3         NaN  VARIOLITE   269900.0       NaN        NaN
 6         NaN      244TH   173000.0       NaN        NaN
 7         NaN      244TH   159600.0       NaN        NaN

                 lat_long    lake_code distance_to_lake     lake_name
 0  (45.39768, -93.46219)  27006700-02      1304.461744           NaN
 1  (45.39852, -93.45134)  27065600-01       856.999937           NaN
 3  (45.39283, -93.45771)  70009500-01       284.071312   O'Dowd Lake
 6  (45.41326, -93.41293)  10008400-01       501.973023  Burandt Lake
 7  (45.41328, -93.41204)  82009400-01       292.616727    Colby Lake

 [5 rows x 74 columns],
   GARAGE XUSE1_DESC  GREEN_ACRE  Year  COUNTY_ID  OWNER_MORE  \
 0      N        NaN         NaN  2014          3         NaN
 1      Y        NaN         NaN  2014          3         NaN
 3      Y        NaN         NaN  2014          3         NaN
 6      Y        NaN         NaN  2014          3         NaN
 7      Y        NaN         NaN  2014          3         NaN

              OWN_ADD_L1     OWN_ADD_L2 SUFFIX_DIR  \
 0     23725 NACRE ST NW      ELK RIVER        NaN
 1  5288 FOREST RIDGE RD       GARRISON         NW
 3    23309 VARIOLITE ST      ELK RIVER         NW
 6      5763 244TH CT NW    ST. FRANCIS         NW
 7      5729 244TH CT NW  SAINT FRANCIS         NW

                                            USE1_DESC  ... FIN_SQ_FT  \
 0                                       AGRICULTURAL  ...       0.0
 1  COMMERCIAL / GOLF COURSE, RESIDENTIAL SINGLE F...  ...    1512.0
 3                          RESIDENTIAL SINGLE FAMILY  ...    1577.0
 6                          RESIDENTIAL SINGLE FAMILY  ...    1654.0
 7                          RESIDENTIAL SINGLE FAMILY  ...    1250.0

    OPEN_SPACE STREETNAME  EMV_TOTAL USE3_DESC XUSE4_DESC  \
 0         NaN        NaN   132100.0       NaN        NaN
 1         NaN      NACRE   193300.0       NaN        NaN
 3         NaN  VARIOLITE   288600.0       NaN        NaN
 6         NaN      244TH   200400.0       NaN        NaN
 7         NaN      244TH   184300.0       NaN        NaN

                 lat_long    lake_code distance_to_lake     lake_name
 0  (45.39768, -93.46219)  27006700-02      1304.461744           NaN
 1  (45.39852, -93.45134)  27065600-01       856.999937           NaN
 3  (45.39283, -93.45771)  70009500-01       284.071312   O'Dowd Lake
 6  (45.41326, -93.41293)  10008400-01       501.973023  Burandt Lake
 7  (45.41328, -93.41204)  82009400-01       292.616727    Colby Lake

 [5 rows x 74 columns]]

6. We need to make a unique primary key for each row in the combined parcel file.<br>
    a. There is a column that appears to be a unique parcel id.  Double check that this is a true primary key for each individual file. (To do this you need to verify that the number of unique values is the same as the number of rows for each of the parcel files.  **Hint:** For each file, use of the accumulator pattern with two accumualtors (one number and one data frame). <br>
    b. Explain why this column will not work as a primary key if we want to combine all years in one database. <br>
    c. Suppose we make a new column that consist of `str(year) + '-' + PIN`.  Explain why this should make a proper primary key for the combined data. <br>

In [54]:
pin_set=set()
row_num=0

for file in first_chunks:
    pin_set = pin_set.union(set(file.PIN))
    row_num=row_num+len(file)    

print(row_num)
print(len(pin_set))

5500
2136

Even when iterating over just the first chunks, there are more rows than unique PINs. Therefore, PIN cannot be used as an ID.

The new column adding year to PIN should make the keys unique by adding more info to the key.

7. Make a function to add the key suggested in the last problem (`str(year) + '-' + PIN`) to a given chunk.

In [82]:
def add_key(df):
    df2 = (df
           >> mutate(key = X.Year.str.cat(X.PIN, sep='-'))
          )
    return df2

In [83]:
add_key(first_chunk2)

,ACRES_DEED,ACRES_POLY,AGPRE_ENRD,AGPRE_EXPD,AG_PRESERV,BASEMENT,BLDG_NUM,BLOCK,CITY,CITY_USPS,...,XUSE2_DESC,XUSE3_DESC,XUSE4_DESC,YEAR_BUILT,Year,ZIP,ZIP4,centroid_lat,centroid_long,key
0,0.0,8.03,NaN,NaN,N,NaN,NaN,NaN,SAINT FRANCIS,NaN,...,NaN,NaN,NaN,1980.0,2004,NaN,NaN,45.41332,-93.26739,2004-003-253424110001
1,0.0,0.93,NaN,NaN,N,NaN,24457.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,1974.0,2004,55005.0,NaN,45.41354,-93.2701,2004-003-253424110002
2,0.0,8.75,NaN,NaN,N,NaN,24442.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,1969.0,2004,55005.0,NaN,45.41318,-93.27344,2004-003-253424120001
3,0.0,11.17,NaN,NaN,N,NaN,410.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,1989.0,2004,55005.0,NaN,45.41167,-93.27684,2004-003-253424210002
4,0.0,14.46,NaN,NaN,N,NaN,480.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,1995.0,2004,55070.0,NaN,45.41169,-93.27849,2004-003-253424210003

#### Note: If you are clever, you can do parts 8 in one double loop, which will save you from having to read the parcel files twice.

8. It is probably worth our time to test that our new key column is truely unique. (If not, we might be wasting out time loading the data into a database, only to have process fail hours in.) Test that the new column works by <br>
    a. Iterating over all the files.<br>
    b. Using an accumulator to count total number of rows across all parcel files. <br>
    c. Using an accumulator to accumulate a set of all unique values of our new key. <br>
    d. Verifying that we have as many total rows as unique keys.
    a. Selecting just this column. <br>
    b. Dumping this column into a temporary database <br>

In [95]:
key_set=set()
row_num=0

In [98]:
for file in first_chunks:
    file_with_key = add_key(file)
    key_set = key_set.union(set(file_with_key.key))
    row_num=row_num+len(file_with_key)  
    print(len(set(file_with_key.key)))

490
489
498
498
500
500
500
500
500
500
500

In [97]:
print(row_num)
print(len(key_set))

5500
5475

9. If the last step succeeded, you can proceed to make a master parcel data database.  If not, you will need to figure out another primary key, probably an `id` column similar to the example in the lectures.